@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Amaranth');

@cor_fundo:#E9E9E9;
@cor_conteudo:#F4F6F6;
@cor_menu:#3c3c3c;
@cor_det_menu:#fff;
@cor_fonte:#aac5ab; /*#a9c4ab*/ /*verde logo*/
@cor_titulo:#363931;
@cor_texto:#6f6f6e; /*cinza claro*/
@cor_link:#797eb4; /*azul*/

@cor_ods1:#ED3A4B;
@cor_ods2:#E5B54F;
@cor_ods3:#50AB4D;
@cor_ods4:#D72E3A;
@cor_ods5:#EF5536;
@cor_ods6:#2BC1E2;
@cor_ods7:#FFCF26;
@cor_ods8:#B62B53;
@cor_ods9:#F37F3D;
@cor_ods10:#EB2779;
@cor_ods11:#FAAC3C;
@cor_ods12:#CD9C40;
@cor_ods13:#458F5A;
@cor_ods14:#06A6DE;
@cor_ods15:#66BC48;
@cor_ods16:#077BAC;
@cor_ods17:#1D5A7C;

html, body, h1, h2, h4, ul, li, a, p, img, input, footer{
  margin:0;
  padding:0;
  list-style-type:none;
  text-decoration:none;
}

html{
  /*font-family:'Roboto', sans-serif;*/
  font-family:'Amaranth', sans-serif;
  background-color:@cor_fundo;
  color:black;
}
body{
  background-color:@cor_conteudo;
}
a{
  outline:none;
}
.gesso{
  float:left;
  width:100%;
  height:20px;
}
.cx{
  width:5.88%;
  height:20px;
  float:left;
}
h1{
  font-size:2em;
  padding:20px 10px 10px;
  clear:both;
  color:@cor_fundo;
  text-transform:uppercase;
  text-shadow:2px 2px 3px @cor_titulo;
  line-height:1;
}
h1 div{
  font-size:3em;
  margin-bottom:2px;
}
h2{
  margin:30px 0 2px 30px;
  font-size:1.8em;
  clear:both;
  color:inherit;
  color:@cor_fundo;
  text-transform:uppercase;
  text-shadow:2px 2px 3px @cor_titulo;
}
.c1 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods1, 20%);
  color:@cor_ods1;
}
.c2 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods2, 20%);
  color:@cor_ods2;
}
.c3 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods3, 20%);
  color:@cor_ods3;
}
.c4 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods4, 20%);
  color:@cor_ods4;
}
.c5 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods5, 20%);
  color:@cor_ods5;
}
.c6 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods6, 20%);
  color:@cor_ods6;
}
.c7 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods7, 20%);
  color:@cor_ods7;
}
.c8 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods8, 20%);
  color:@cor_ods8;
}
.c9 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods9, 20%);
  color:@cor_ods9;
}
.c10 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods10, 20%);
  color:@cor_ods10;
}
.c11 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods11, 20%);
  color:@cor_ods11;
}
.c12 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods12, 20%);
  color:@cor_ods12;
}
.c13 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods13, 20%);
  color:@cor_ods13;
}
.c14 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods14, 20%);
  color:@cor_ods14;
}
.c15 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods15, 20%);
  color:@cor_ods15;
}
.c16 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods16, 20%);
  color:@cor_ods16;
}
.c17 h2{
  text-shadow:-1px 1px 2px darken(@cor_ods17, 20%);
  color:@cor_ods17;
}
.c0{
  background-color:@cor_fundo;
  color:@cor_titulo;
}
.c1{
  background-color:lighten(@cor_ods1, 30%);
  color:@cor_ods1;
}
.c2{
  background-color:lighten(@cor_ods2, 30%);
  color:@cor_ods12;
}
.c3{
  background-color:lighten(@cor_ods3, 30%);
  color:@cor_ods3;
}
.c4{
  background-color:lighten(@cor_ods4, 30%);
  color:@cor_ods4;
}
.c5{
  background-color:lighten(@cor_ods5, 30%);
  color:@cor_ods5;
}
.c6{
  background-color:lighten(@cor_ods6, 30%);
  color:@cor_ods6;
}
.c7{
  background-color:lighten(@cor_ods7, 30%);
  color:@cor_ods7;
}
.c8{
  background-color:lighten(@cor_ods8, 30%);
  color:@cor_ods8;
}
.c9{
  background-color:lighten(@cor_ods9, 30%);
  color:@cor_ods9;
}
.c10{
  background-color:lighten(@cor_ods10, 30%);
  color:@cor_ods10;
}
.c11{
  background-color:lighten(@cor_ods11, 30%);
  color:@cor_ods11;
}
.c12{
  background-color:lighten(@cor_ods12, 30%);
  color:@cor_ods12;
}
.c13{
  background-color:lighten(@cor_ods13, 30%);
  color:@cor_ods13;
}
.c14{
  background-color:lighten(@cor_ods14, 30%);
  color:@cor_ods14;
}
.c15{
  background-color:lighten(@cor_ods15, 30%);
  color:@cor_ods15;
}
.c16{
  background-color:lighten(@cor_ods16, 30%);
  color:@cor_ods16;
}
.c17{
  background-color:lighten(@cor_ods17, 30%);
  color:@cor_ods17;
}
.titulo{
  margin-bottom:10px;
  position:relative;
  padding-left:110px;
  margin-right:30px;
}
.titulo h2{
  margin-left:0;
}
.titulo:before{
  display:block;
  position:absolute;
  top:0;
  left:30px;
  content:'';
  height:60px;
  width:60px;
  overflow:auto;
  -webkit-box-shadow:-1px 1px 2px 0px;
  -moz-box-shadow:-1px 1px 2px 0px;
  box-shadow:-1px 1px 2px 0px;
}
.titulo h2:before{
  content:'Objetivo ';
}
.c1 .titulo:before{
  background-color:@cor_ods1;
  border:2px solid darken(@cor_ods1, 15%);
}
.c2 .titulo:before{
  background-color:@cor_ods2;
  border:2px solid darken(@cor_ods2, 15%);
}
.c3 .titulo:before{
  background-color:@cor_ods3;
  border:2px solid darken(@cor_ods3, 15%);
}
.c4 .titulo:before{
  background-color:@cor_ods4;
  border:2px solid darken(@cor_ods4, 15%);
}
.c5 .titulo:before{
  background-color:@cor_ods5;
  border:2px solid darken(@cor_ods5, 15%);
}
.c6 .titulo:before{
  background-color:@cor_ods6;
  border:2px solid darken(@cor_ods6, 15%);
}
.c7 .titulo:before{
  background-color:@cor_ods7;
  border:2px solid darken(@cor_ods7, 15%);
}
.c8 .titulo:before{
  background-color:@cor_ods8;
  border:2px solid darken(@cor_ods8, 15%);
}
.c9 .titulo:before{
  background-color:@cor_ods9;
  border:2px solid darken(@cor_ods9, 15%);
}
.c10 .titulo:before{
  background-color:@cor_ods10;
  border:2px solid darken(@cor_ods10, 15%);
}
.c11 .titulo:before{
  background-color:@cor_ods11;
  border:2px solid darken(@cor_ods11, 15%);
}
.c12 .titulo:before{
  background-color:@cor_ods12;
  border:2px solid darken(@cor_ods12, 15%);
}
.c13 .titulo:before{
  background-color:@cor_ods13;
  border:2px solid darken(@cor_ods13, 15%);
}
.c14 .titulo:before{
  background-color:@cor_ods14;
  border:2px solid darken(@cor_ods14, 15%);
}
.c15 .titulo:before{
  background-color:@cor_ods15;
  border:2px solid darken(@cor_ods15, 15%);
}
.c16 .titulo:before{
  background-color:@cor_ods16;
  border:2px solid darken(@cor_ods16, 15%);
}
.c17 .titulo:before{
  background-color:@cor_ods17;
  border:2px solid darken(@cor_ods17, 15%);
}
video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-100;
  background-size:100% 100%;
  object-fit:cover;
  transition:1s opacity;
}
.section{
  color:@cor_titulo;
}
.section .dsc{
  font-size:1.2em;
}
.abertura{
  text-align:center;
}
.abertura video{
  background:url('../img/DockHdr.png') no-repeat scroll center center / cover;
}
.objetivos{
  background:url('../img/crater-lake.gif') no-repeat scroll center center / cover;
}
path{
  cursor:pointer;
}
.indicadores{
  background:url('../img/bats.gif') no-repeat scroll center center / cover;
}
.projetos{
}
.projetos video{
  background:url('../img/formiga.png') no-repeat scroll center center / cover;
}
.agenda{
  background:url('../img/tn-aquarium.gif') no-repeat scroll center center / cover;
}
#grafico_menu{
  text-align:center;
  width:100%;
}
.slide{
  text-align:left;
  position:relative;
}
.opcoes{
  position:absolute;
  bottom:0;
  width:100%;
}
.opcao{
  width:25%;
  float:left;
  text-align:center;
}
.opcao a{
  background-color:@cor_menu;
  padding:20px 0;
  display:block;
  color:@cor_det_menu;
  font-size:1.5em;
  transition:transform 0.3s ease;
  border-right:1px solid #BFBFBF;
}
.opcao:last-child a{
  border:0;
}
.opcao a:after{
  margin-top:4px;
  font-family:FontAwesome;
  content:"\f103";
  font-feature-settings:normal;
  font-kerning:auto;
  font-language-override:normal;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-synthesis:weight style;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
  text-rendering:auto;
  display:block;
}
.opcao a:hover{
  background-color:#BFBFBF;
  color:black;
  border-color:black;
}
.metas:before{
  content:'Metas:';
  display:block;
  color:inherit;
  font-size:1.2em;
}
.metas{
  margin-left:30px;
  width:40%;
  height:400px;
  overflow:hidden;
  padding:10px 0;
  text-align:justify;
}
.meta{
  padding:10px 15px;
  border-bottom:1px solid;
  display:table;
}
.meta:last-child{
  border:0;
}
.meta:after{
  display:table-cell;
  color:inherit;
  font-family:FontAwesome;
  content:"\f054";
  font-feature-settings:normal;
  font-kerning:auto;
  font-language-override:normal;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-synthesis:weight style;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
  text-rendering:auto;
  font-size:2em;
  vertical-align:middle;
}
.meta div{
  color:black;
  margin-right:15px;
}
.c1 .meta{
  border-color:@cor_ods1;
  background-color:lighten(@cor_ods1, 20%);
}
.c2 .meta{
  border-color:@cor_ods2;
  background-color:lighten(@cor_ods2, 20%);
}
.c3 .meta{
  border-color:@cor_ods3;
  background-color:lighten(@cor_ods3, 20%);
}
.c4 .meta{
  border-color:@cor_ods4;
  background-color:lighten(@cor_ods4, 20%);
}
.c5 .meta{
  border-color:@cor_ods5;
  background-color:lighten(@cor_ods5, 20%);
}
.c6 .meta{
  border-color:@cor_ods6;
  background-color:lighten(@cor_ods6, 20%);
}
.c7 .meta{
  border-color:@cor_ods7;
  background-color:lighten(@cor_ods7, 20%);
}
.c8 .meta{
  border-color:@cor_ods8;
  background-color:lighten(@cor_ods8, 20%);
}
.c9 .meta{
  border-color:@cor_ods9;
  background-color:lighten(@cor_ods9, 20%);
}
.c10 .meta{
  border-color:@cor_ods10;
  background-color:lighten(@cor_ods10, 20%);
}
.c11 .meta{
  border-color:@cor_ods11;
  background-color:lighten(@cor_ods11, 20%);
}
.c12 .meta{
  border-color:@cor_ods12;
  background-color:lighten(@cor_ods12, 20%);
}
.c13 .meta{
  border-color:@cor_ods13;
  background-color:lighten(@cor_ods13, 20%);
}
.c14 .meta{
  border-color:@cor_ods14;
  background-color:lighten(@cor_ods14, 20%);
}
.c15 .meta{
  border-color:@cor_ods15;
  background-color:lighten(@cor_ods15, 20%);
}
.c16 .meta{
  border-color:@cor_ods16;
  background-color:lighten(@cor_ods16, 20%);
}
.c17 .meta{
  border-color:@cor_ods17;
  background-color:lighten(@cor_ods17, 20%);
}
.d_ind{
  font-size:2em;
  float:right;
  margin-right:30px;
}
.slide .prev, .slide .next{
  line-height:1;
  display:block;
  position:absolute;
  bottom:20px;
  font-size:20px;
  padding:15px 20px;
  text-align:center;
  z-index:3;
}
.slide .prev{
  left:0;
}
.slide .next{
  right:0;
}
.carregando{
  max-width:100% !important;
  display:block !important;
  height:40px;
  width:auto;
  font-size:16px;
  background-image:url("../img/load.gif") !important;
  background-repeat:no-repeat !important;
  background-position:center center !important;
  position:relative;
  margin-bottom:20px;
}

footer{
  background-color:@cor_fundo;
  color:black;
}
.copyright{
  padding:10px 0;
  text-align:center;
  font-size:10px;
}
.copyright a{
  color:inherit;
}
#preload3{
  background:url('../img/load.gif') no-repeat -9999px -9999px;
}

/*menu*/
header{
  position:fixed;
  top:0;
  width:100%;
  z-index:8;
}
#menu-burger-wrapper{
  position:absolute;
  top:0;
  right:20px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition:all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.line-burger{
  background-color:@cor_det_menu;
  height:35px;
  left:0;
  margin:0 auto 5px;
  position:relative;
  top:0;
  transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:1px;
}
#menu-burger{
  background-color:@cor_menu;
  -moz-user-select:none;
  cursor:pointer;
  height:32px;
  padding-top:12px;
  width:44px;
  border:1px solid @cor_det_menu;
}
#menu-burger .line{
  background-color:@cor_det_menu;
  height:2px;
  margin-bottom:7px;
  transform:translateX(7px);
  transition:all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:30px;
}
#menu-burger:hover .line-1{
  transform:translateX(12px);
  width:20px;
}
#menu-burger:hover .line-2{
  transform:translateX(27px);
  width:10px;
}
#menu-burger:hover .line-3{
  transform:translateX(7px);
  width:15px;
}
.menu-opened #menu-burger:hover .line-1{
  transform:translate(12px, 9px) rotate(45deg);
  width:20px;
}
.menu-opened #menu-burger:hover .line-2{
  transform:translateX(22px);
  width:0;
}
.menu-opened #menu-burger:hover .line-3{
  transform:translate(12px, -9px) rotate(-45deg);
  width:20px;
}
#menu-burger-wrapper.menu-opened{
  transition:all 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
#menu-burger-wrapper.menu-opened .line-burger{
  top:-35px;
}
#menu-burger-wrapper.menu-opened .line-1{
  transform:translate(7px, 9px) rotate(45deg);
}
#menu-burger-wrapper.menu-opened .line-2{
  transform:translateX(22px);
  width:0;
}
#menu-burger-wrapper.menu-opened .line-3{
  transform:translate(7px, -9px) rotate(-45deg);
}
#menu-wrapper{
  background-color:#fff;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  transition:all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  width:100%;
}
#menu-wrapper.opened{
  transform:translateX(-360px);
}
#menu{
  height:100%;
  width:100%;
}
.menu-wrapper{
  height:100%;
  width:100%;
}
.menu-container{
  height:16.66%;
  position:relative;
  width:100%;
}
.menu-container::before, .menu-container::after{
  background-color:#c8c8c8;
  content:"";
  left:0;
  position:absolute;
  top:0;
}
.menu-container::before{
  height:1px;
  width:100%;
  z-index:2;
}
.menu-container::after{
  height:100%;
  width:1px;
  z-index:0;
}
.menu-link{
  display:block;
  height:100%;
  position:relative;
  text-align:center;
  width:100%;
  z-index:1;
}
.menu-link[data-active="true"] .menu-link-over{
  transform:translateX(0px);
}
.menu-link[data-active="true"] .menu-cloud{
  transform:translateX(0px);
}
.menu-link[data-active="true"] .menu-triangle-1, .menu-link[data-active="true"] .menu-triangle-2, .menu-link[data-active="true"] .menu-triangle-3{
  opacity:1;
  transform:translate(0px, 0px) rotate(0deg);
}
.menu-link[data-active="true"] .menu-link-title-over{
  opacity:1;
  transform:translateY(-50%);
}
.menu-link.inactive .menu-link-normal, .menu-link.inactive .menu-cloud, .menu-link.inactive .menu-triangle-1, .menu-link.inactive .menu-triangle-2, .menu-link.inactive .menu-triangle-3, .menu-link.inactive .menu-photo{
  opacity:0.3;
}
.menu-link:hover .menu-link-over{
  transform:translateX(0px);
}
.menu-link:hover .menu-cloud{
  transform:translateX(0px);
}
.menu-link:hover .menu-triangle-1, .menu-link:hover .menu-triangle-2, .menu-link:hover .menu-triangle-3{
  opacity:1;
  transform:translate(0px, 0px) rotate(0deg);
}
.menu-link:hover .menu-link-title-over{
  opacity:1;
  transform:translateY(-50%);
}
.menu-link-title{
  font:20px/20px "UB";
  text-transform:uppercase;
}
.menu-link-subtitle{
  color:#868686;
  font:16px/16px "UL";
  margin-top:3px;
}
.menu-link-subtitle::after{
  background-color:#c8c8c8;
  content:"";
  display:block;
  height:1px;
  margin:7px auto 0;
  width:25px;
}
.menu-link-normal{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.menu-icon{
  margin:10px auto 0;
}
.menu-link-over{
  backface-visibility:hidden;
  background-color:#e7e7e7;
  height:100%;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  transform:translateX(352px);
  transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:100%;
}
.menu-link-over::before{
  content:"";
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:8px;
  z-index:1;
}
.menu-cloud, .menu-photo{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
.menu-cloud{
  /*background:rgba(0, 0, 0, 0) url("../img/others/menu_cloud.png") no-repeat scroll left bottom;*/
  transform:translateX(-30px);
  transition:all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.menu-triangle-1{
  height:59px;
  left:122px;
  margin-top:-28px;
  opacity:0;
  position:absolute;
  top:50%;
  transform:translate(-100px, 50px) rotate(-60deg);
  transition:all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:58px;
}
.menu-triangle-2{
  height:33px;
  left:171px;
  margin-top:-39px;
  opacity:0;
  position:absolute;
  top:50%;
  transform:translate(50px, -30px) rotate(60deg);
  transition:all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:33px;
}
.menu-triangle-3{
  height:133px;
  margin-top:-69px;
  opacity:0;
  position:absolute;
  right:6px;
  top:50%;
  transform:translate(50px, 40px) rotate(60deg);
  transition:all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  width:133px;
}
.menu-link-title-over{
  color:#2b2b2b;
  font:32px/32px "UB";
  margin-top:3px;
  opacity:0;
  position:relative;
  text-transform:uppercase;
  top:50%;
  transform:translateY(0%);
  transition:all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.menu-color-1 .menu-link-title{
  color:#ec0b39;
}
.menu-color-1 .menu-icon{
  /*background:rgba(0, 0, 0, 0) url("../img/icons/menu_icon_1.png") no-repeat scroll center center;*/
  height:30px;
  width:41px;
}
.menu-color-1 .menu-link-over::before{
  background-color:#ec0b39;
}
.menu-color-1 .menu-photo{
  /*background:rgba(0, 0, 0, 0) url("../img/others/menu_1.png") no-repeat scroll center center;*/
}
.menu-color-1 .menu-triangle-1{
  /*background:rgba(0, 0, 0, 0) url("../img/others/menu_triangle_red_1.png") no-repeat scroll center center;*/
}
.menu-color-1 .menu-triangle-2{
  /*background:rgba(0, 0, 0, 0) url("../img/others/menu_triangle_red_2.png") no-repeat scroll center center;*/
}
.menu-color-1 .menu-triangle-3{
  /*background:rgba(0, 0, 0, 0) url("../img/others/menu_triangle_red_3.png") no-repeat scroll center center;*/
}

/*Footer*/
footer{
  font-size:0.8em;
  border-top:3px solid @cor_menu;
  background-color:@cor_det_menu;
  clear:both;
  position:absolute;
  width:100%;
  z-index:5;
  bottom:0;
  padding:8px 30px;
}
#footer.open #footer-button::before, #footer.open #footer-button::after{
  transform:rotate(135deg);
}
#footer.open #footer-button:hover::before, #footer.open #footer-button:hover::after{
  transform:rotate(225deg);
}
#footer.open #footer-button::before, #footer.open #footer-button::after{
  transform:rotate(135deg);
}
#footer-button:hover::before, #footer-button:hover::after{
  transform:rotate(90deg);
}
#footer-button::before{
  background-color:@cor_det_menu;
  content:"";
  display:block;
  height:2px;
  left:10px;
  position:absolute;
  top:19px;
  transition:all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  width:20px;
}
#footer.open #footer-button:hover::before, #footer.open #footer-button:hover::after{
  transform:rotate(225deg);
}
#footer.open #footer-button::before, #footer.open #footer-button::after{
  transform:rotate(135deg);
}
#footer-button:hover::before, #footer-button:hover::after{
  transform:rotate(90deg);
}
#footer-button::after{
  background-color:#fff;
  content:"";
  display:block;
  height:20px;
  left:19px;
  position:absolute;
  top:10px;
  transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  width:2px;
}
#footer-button{
  background-color:@cor_menu;
  cursor:pointer;
  height:40px;
  left:50%;
  margin-left:-20px;
  position:absolute;
  top:-23px;
  width:40px;
  z-index:2;
}