@media screen and (max-width:640px){
    .opcao a{
        font-size:1.2em;
    }
}
@media screen and (max-width:480px){
    h2{
        margin:10px 0 6px;
        font-size:1.6em;
        padding-left:75px;
    }
    .opcao a{
        font-size:1em;
    }
    .titulo{
        padding-left:10px;
        margin-right:10px;
    }
    .titulo:before{
        left:10px;
    }
}
@media screen and (max-width:320px){
    .opcao{
        float:none;
        width:100%;
        border-right:0;
        border-bottom:1px solid #BFBFBF;
    }
    .opcao a{
        padding:8px 0;
    }
    .opcao a:after {
        display:inline;
        margin:0 0 0 5px;
    }
    h2{
        padding-left:75px;
        margin-bottom:6px;
    }
    .titulo h2:before{
        content:'';
    }
    .titulo{
        padding-left:10px;
    }
}
