@media screen and (max-width:640px) {
    h1 {
        font-size: 1.6em;
        padding: 10px;
    }

    h1 div {
        font-size: 1.8em;
    }
    .opcao a {
        font-size: 1.2em;
        padding: 12px 0;
    }
}
@media screen and (max-height:300px){
    .opcao a:after {
        display:inline;
        margin:0 0 0 5px;
    }
}
@media screen and (max-width:480px){
    h2{
        margin:10px 0 6px 10px;
        font-size:1.6em;
        padding-left:75px;
    }
    .opcao a{
        font-size:1em;
        padding:10px 0;
    }
    .titulo{
        padding-left:0px;
        margin-right:10px;
    }
    .titulo:before{
        left:10px;
    }
}
@media screen and (max-width:360px) {
    h1 {
        font-size:1.7em;
        padding:10px;
    }
    h1 div {
        font-size: 2.2em;
    }
}
@media screen and (max-width:320px){
    .opcao{
        float:none;
        width:100%;
        border-right:0;
        border-bottom:1px solid #BFBFBF;
    }
    .opcao a{
        padding:8px 0;
    }
    h2{
        padding-left:75px;
        margin-bottom:6px;
    }
    .titulo h2:before{
        content:'';
    }
    .titulo{
        padding-left:10px;
    }
}
