@import 'https://fonts.googleapis.com/css?family=Oswald';
html, body, h1, h2, h3, h4, h5, h6, ul, li, button, a, p, table, thead, tbody, tfoot, tr, th, td{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  outline:none;
}
.clear{
    clear:both;
}
.carregando{
    max-width:100% !important;
    display:block !important;
    height:40px;
    width:auto;
    font-size:16px;
    background-image:url("../img/load.gif") !important;
    background-repeat:no-repeat !important;
    background-position:center center !important;
    animation-name:animaCarregando;
    animation-iteration-count:infinite;
    animation-duration:4s;
    position:relative;
    margin-bottom:20px;
}
body{
    font-family:'Oswald', sans-serif;
    background-color:#2B2B2B;
    color:#BABABA;
}
header{
    font-family:inherit;
    font-size:14px;
    border-bottom:1px solid #555;
    background-color:#1B1B1B;
    color:#f1f1f1;
    padding:5px 10px;
    line-height:1;
}
label{
    cursor:pointer;
}
.tabelas div{
    float:left;
    margin-right:10px;
}
